@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Fredoka+One&family=Playfair+Display:wght@600&display=swap');

.App { 
  background-image: url("https://i.pinimg.com/564x/8f/76/39/8f7639c3fcd7ad71f693b194a1c47484.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: whitesmoke;
  font-family: 'Playfair Display', serif;
  padding: 12px 12px 12px 12px;
}

.inFront {
  z-index: 1;
}

.inFront2 {
  z-index: 2;
}

.title {
  font-size: xx-large;
  padding: 75px;
  text-shadow: 2px 2px #ffffff;
}

.signinBox {
  color: black;
  padding-left: 10vw;
  padding-right: 10vw;
}

.centerContent {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.frontPanel {
  width: 100vw;
  max-height: auto;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  transition: all 0.75s;
  vertical-align: middle;
  text-align: center;
}

.onScreen {
  top: 0vh;
  animation: moveFirst 5s linear .2s;
  animation-iteration-count: 1;
}

.offScreenTop {
  top: -100vh;
  animation: moveFirst 5s linear .2s;
}

.flexboxVert {
  display: flex;
  flex-direction: column;
  min-height: auto;
  height: auto;
}

.flexboxVertContent {
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  flex: 1;
}

.flexboxHorz {
  display: flex;
  flex-direction: row;
  max-height: calc(100vh - 24px);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

.thread {
  margin: 0px 0px 0px 0px;
  padding: 5px 5px 5px 5px;
  color: whitesmoke;
  font-weight: bolder;
  vertical-align: middle;
  min-height: 36px;
  display: flex;
  flex-direction: row;
}

.message {
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 5px 5px 5px 5px;
  color: whitesmoke;
  min-height: 36px;
  display: flex;
  flex-direction: row;
  text-shadow: 2px 2px #000000;
}

.messageSmall {
  margin-left: 52px;
  padding: 0px 5px 5px 0px;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  text-shadow: 2px 2px #000000;
}

.inputBox {
  margin: 0px 0px 0px 0px;
  padding: 5px 5px 5px 5px;
  background-color: black;
  height: 48px;
  display: flex;
  flex-direction: row;
}

.topPanel {
  width: auto;
  font-size: large;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  box-shadow: 2px 2px 12px #000000;
  align-content: center;
}

.leftPanel {
  width: 200px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  box-shadow: 2px 2px 12px #000000;
}

.rightPanel {
  flex: 1;
}

.profilePic {
  width: 42px;
  height: 42px;
  margin-right: 5px;
}

.messageInput {
  width: 100%;
}

.tinyText {
  font-size: small;
  font-weight: bold;
  margin-right: 12px;
  color: deepskyblue;
}

.smallText {
  font-size: small;
}

.bigFlex {
  width: auto;
  display: flex;
}

.flex {
  flex: 1;
}

.fullWidth {
  width: 100%;
}

.slightLeft {
  margin-left: 5px;
}